body {
	background: rgba(255,184,140,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,184,140,1) 0%, rgba(255,184,140,1) 53%, rgba(222,98,98,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,184,140,1)), color-stop(53%, rgba(255,184,140,1)), color-stop(100%, rgba(222,98,98,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,184,140,1) 0%, rgba(255,184,140,1) 53%, rgba(222,98,98,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,184,140,1) 0%, rgba(255,184,140,1) 53%, rgba(222,98,98,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,184,140,1) 0%, rgba(255,184,140,1) 53%, rgba(222,98,98,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,184,140,1) 0%, rgba(255,184,140,1) 53%, rgba(222,98,98,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb88c', endColorstr='#de6262', GradientType=1 );
}

#container {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 5%;
	margin-top: 5%;
	background-color: white;
	-webkit-box-shadow: 15px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 15px 20px 0px rgba(0,0,0,0.1);
	box-shadow:15px 20px 0px rgba(0,0,0,0.1);
	
	border-radius: 10px;
}

.subbar {
	color: #DE6262;
	text-align: center;
	margin-top: 5%;
	border-bottom: 5px solid #FEB58A;
	margin-bottom: 4%;
	padding: 10px;

}

.subimg{
	text-align: center;

}

.col-md-10 {
	margin: 0 auto;
	padding: 30px;
	padding-left: 30px;
}

.boton {
	margin-top: 20px;
}
.btn {
	background-color: #DE6262;
	border-color: #DE6262;
	position: relative;
}

.registro {
	float: right;

}

#carouselExampleIndicators {
	height: 100%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.carousel-item {
	height: 100%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.d-block {
	height: 100%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}