<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<th:block th:replace="fragments/common :: head"></th:block>
	<th:block th:replace="fragments/publiclayout :: head"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/user-contactus.css" th:href="@{/styles/user-contactus.css}"/>
    <script src="/scripts/user-contactus.js" th:src="@{/scripts/user-contactus.js}"></script>
    <title>RWD - Contacto</title>
</head>

<body>
    <header class="cd-main-header" th:replace="fragments/publiclayout :: header">
    </header>

    <main class="cd-main-content">
        <div id="contacto">
            <h1 class="sectionName">
                Contacto
            </h1>
            <h3>
                ¿Tienes alguna duda? ¿Quieres informarte antes de pedir una cita?
            </h3>
            <div id="horario">Horario: 10:00 - 19:00</div>
            <div id="telefono">Teléfono: 954 335 932</div>
            <div id="email">
                <a href="">contact@realworlddental.com</a>
            </div>
        </div>
        <div id="map"></div>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7UR8MTCH_CLwj0ZTkhHvlou6mLJagO5I&callback=initMap"
            type="text/javascript"></script>
        <div class="cd-overlay"></div>
    </main>

    <nav th:replace="fragments/publiclayout :: nav">
        
    </nav>
</body>

</html>