<!DOCTYPE html>
<html lang="es">

<head>
    <th:block th:replace="fragments/common :: head"></th:block>
	<th:block th:replace="fragments/publiclayout :: head"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/user-services.css" th:href="@{/styles/user-services.css}"/>    
    <title>RWD - Servicios</title>
</head>

<body>
    <header class="cd-main-header" th:replace="fragments/publiclayout :: header">
    </header>

    <main class="cd-main-content">
        <h1 class="sectionName">
            Servicios
        </h1>
        <div class="services-container">
            <div class="service" th:each="treatment : ${treatments}" th:style="'background-image: url(' + @{${treatment.picture}} + ');'">
                <div class="info">
                    <div class="title">
                        <h3 th:text="${treatment.name}">Blanqueamiento dental</h3>
                    </div>
                    <div class="description">
                        <span th:text="${treatment.description}">Los dientes son muy importantes para su apariencia. Te ves más joven con los dientes más blancos. Aquí en RealWorldDental
                        blanqueamos tus dientes con la última tecnología.</span>
                        <a href="user-service.html" class="seeMore" th:href="@{/public/user-service}"></a>
                    </div>
                </div>
            </div>
            <div class="service" id="carillas">
                <div class="info">
                    <div class="title">
                        <h3>Carillas</h3>
                    </div>
                    <div class="description">
                        Se utilizan para ocultar dientes agrietados, menos estéticos , o dientes descoloridos. Se utiliza preferentemente en los
                        dientes frontales.
                        <a href="user-service.html" class="seeMore"></a>
                    </div>
                </div>
            </div>
            <div class="service" id="coronasYPuentes">
                <div class="info">
                    <div class="title">
                        <h3>Coronas y Puentes</h3>
                    </div>
                    <div class="description">
                        Una corona es la mejor opción cuando se trata de una gran parte del diente la que necesita ser reemplazada o si vemos que
                        el diente por estética necesite cambiar el color o la forma.
                        <a href="user-service.html" class="seeMore"></a>
                    </div>
                </div>
            </div>
            <div class="service" id="endodoncia">
                <div class="info">
                    <div class="title">
                        <h3>Endodoncia</h3>
                    </div>
                    <div class="description">
                        Necesaria cuando existe una hipersensibilidad en el diente, dolor al masticar o dolor ante el consumo de bebidas muy frías
                        o muy calientes ocasionados por la presencia de caries en el diente.
                        <a href="user-service.html" class="seeMore"></a>
                    </div>
                </div>
            </div>
            <div class="service" id="empastes">
                <div class="info">
                    <div class="title">
                        <h3>Empastes</h3>
                    </div>
                    <div class="description">
                        Para arreglar hasta las pequeñas lesiones de caries. Consiste en anestesia, limpieza de la caries, relleno de la cavidad
                        y pulido del empaste.
                        <a href="user-service.html" class="seeMore"></a>
                    </div>
                </div>
            </div>
            <div class="service" id="implante">
                <div class="info">
                    <div class="title">
                        <h3>Implante</h3>
                    </div>
                    <div class="description">
                        Los implantes dentales se utilizan cuando haya perdido uno o más dientes. Es una elección segura y duradera para toda la
                        vida.
                        <a href="user-service.html" class="seeMore"></a>
                    </div>
                </div>
            </div>
            <div class="service" id="odontopediatria">
                <div class="info">
                    <div class="title">
                        <h3>Odontopediatría</h3>
                    </div>
                    <div class="description">
                        Encargada de explorar y tratar a niños y recién nacidos. También se encarga de detectar posibles anomalías en la posición
                        de los maxilares o dientes para remitir al ortodoncista.
                        <a href="user-service.html" class="seeMore"></a>
                    </div>
                </div>
            </div>
            <div class="service" id="ortodoncia">
                <div class="info">
                    <div class="title">
                        <h3>Ortodoncia</h3>
                    </div>
                    <div class="description">
                        A veces los dientes crecen en una posición inadecuada o se han movido debido a varios motivos. Mediante la ortodoncia podemos
                        hacer cualquier corrección.
                        <a href="user-service.html" class="seeMore"></a>
                    </div>
                </div>
            </div>
            <div class="service" id="periodontitis">
                <div class="info">
                    <div class="title">
                        <h3>Periodontitis</h3>
                    </div>
                    <div class="description">
                        Proviene de una enfermedad inflamatoria que afecta principalmente a los tejidos que sostienen los dientes. Es de avance lento.
                        Si no recibes tratamiento, pueden pasar muchos años antes de perder los dientes.
                        <a href="user-service.html" class="seeMore"></a>
                    </div>
                </div>
            </div>
            <div class="service" id="revision">
                <div class="info">
                    <div class="title">
                        <h3>Revisión</h3>
                    </div>
                    <div class="description">
                        Ullamco et in sunt officia. Excepteur excepteur adipisicing enim sunt pariatur deserunt dolore nostrud elit aute eu qui nostrud
                        qui.
                        <a href="user-service.html" class="seeMore"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="cd-overlay"></div>
    </main>

    <nav th:replace="fragments/publiclayout :: nav">
    </nav>
</body>

</html>