<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RWD - Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../../images/logo-icon.ico">
    <link rel="stylesheet" type="text/css" media="screen" href="../../styles/main.css" />
    <script src="http://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
    <script src="../../scripts/jquery.menu-aim.js"></script>
    <script src="../../scripts/user-main.js"></script>
</head>

<body>
    <header class="cd-header">
        <div id="cd-logo">
            <a href="#0">
                <img src="../../images/icons/projectlogo.svg" alt="Logo" width="50px">
            </a>
        </div>
    </header>
    <section id="cd-intro">
        <div id="cd-intro-tagline">
            <h1>RealWorld Dental</h1>
        </div>
        <!-- #cd-intro-tagline -->
    </section>
    <!-- #cd-intro -->

    <div class="cd-secondary-nav">
        <a href="#0" class="cd-secondary-nav-trigger">Menu
            <span></span>
        </a>
        <!-- button visible on small devices -->
        <nav>
            <ul>
                <li>
                    <a href="#">
                        <b>Inicio</b>
                        <span></span>
                        <!-- icon -->
                    </a>
                </li>
                <li>
                    <a href="./user-services.html">
                        <b>Servicios</b>
                        <span></span>
                        <!-- icon -->
                    </a>
                </li>
                <li>
                    <a href="./user-aboutus.html">
                        <b>Sobre Nosotros</b>
                        <span></span>
                        <!-- icon -->
                    </a>
                </li>
                <li>
                    <a href="./user-contactus.html">
                        <b>Contacto</b>
                        <span></span>
                        <!-- icon -->
                    </a>
                </li>
                <li>
                    <a href="#cd-placeholder-5">
                        <b>{Usuario}</b>
                        <span></span>
                        <!-- icon -->
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- .cd-secondary-nav -->
    <main class="cd-main-content">
        <section id="cd-placeholder-1" class="cd-section cd-container">
            <h2>Nos preocupamos por tus dientes</h2>
            <p>
                Trabajamos con la odontología preventiva y nuestra visión es que tendrás dientes sanos para toda la vida y una sonrisa hermosa.
                Adaptamos todo el cuidado dental a tus necesidades para lograr la máxima funcionalidad y estética.
            </p>
            <p>
                Nuestro objetivo que te sientas relajado y que tengas una buena experiencia con nosotros.
            </p>
        </section>
        <!-- #cd-placeholder-1 -->

        <section id="cd-placeholder-2" class="cd-section cd-container">
            <div id="icon1">
                <img src="../../images/icons/toothwhite.svg" alt="">
                <h2>
                    Blanqueamiento
                </h2>
                <p>
                    El blanqueamiento está entre los procedimientos dentales más populares porque puede mejorar increíblemente la forma en que
                    se ven tus dientes.
                </p>
            </div>
            <div id="icon2">
                <img src="../../images/icons/teethbrush.svg" alt="">
                <h2>
                    Limpieza
                </h2>
                <p>
                    La limpieza de los dientes es una parte esencial de la higiene bucal e involucra la eliminación de las placas dentales de
                    los dientes (caries).
                </p>
            </div>
            <div id="icon3">
                <img src="../../images/icons/teethtechnology.svg" alt="">
                <h2>
                    Tecnología
                </h2>
                <p>
                    Nuestra clínica enorgullece de formar parte de la Advanced Medical Technology Association (AdvaMed) y, por ello, tiene el
                    compromiso de reconocer y apoyar su Código ético. Este código proporciona directrices específicas para
                    garantizar que las tecnologías dentales se utilizan en beneficio del paciente.
                </p>
            </div>
            <div id="icon4">
                <img src="../../images/icons/teethbrackets.svg" alt="">
                <h2>
                    Brackets de calidad
                </h2>
                <p>
                    La ortodóntica es la rama dentífrica que corrige los dientes y mandíbulas incorrectamente posicionadas.
                </p>
            </div>
        </section>
        <section id="cd-placeholder-3" class="cd-section cd-container">
            <h2>
                RealWorld Dental en números
            </h2>
            <h3>
                Algunas estadísticas
            </h3>
            <div class="container-statistics">
                <div id="icon1">
                    <img src="../../images/icons/icon-clients.svg" alt="">
                    <h3>
                        {numClientesTotales activos y dados de baja}
                    </h3>
                    <h3>
                        Clientes Totales
                    </h3>
                </div>
                <div id="icon2">
                    <img src="../../images/icons/icon-staff.svg" alt="">
                    <h3>
                        {numEmpleados activos}
                    </h3>
                    <h3>
                        Empleados Trabajando
                    </h3>
                </div>
                <div id="icon3">
                    <img src="../../images/icons/happysmile.svg" alt="">
                    <h3>
                        {numCitasTotalesPagadas}
                    </h3>
                    <h3>
                        Sonrisas Felices
                    </h3>
                </div>
            </div>
        </section>
    </main>
    <!-- .cd-main-content -->
</body>

</html>