<!DOCTYPE html>
<html lang="es">

<head>
    <th:block th:replace="fragments/common :: head"></th:block>
	<th:block th:replace="fragments/publiclayout :: head"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/user-services.css" th:href="@{/styles/user-services.css}"/>    
    <title>RWD - Servicios</title>
</head>

<body>
    <header class="cd-main-header" th:replace="fragments/publiclayout :: header">
    </header>

    <main class="cd-main-content">
        <h1 class="sectionName">
            Servicios
        </h1>
        <div class="services-container">
            <div class="service" th:each="treatment : ${treatments}" th:style="'background-image: url(' + @{${treatment.picture}} + ');'">
                <div class="info">
                    <div class="title">
                        <h3 th:text="${treatment.name}"></h3>
                    </div>
                    <div class="description">
                        <span th:text="${treatment.description}"></span>
                        <a href="user-service.html" class="seeMore" th:href="@{'/public/user-service/' + ${treatment.id}}"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="cd-overlay"></div>
    </main>

    <nav th:replace="fragments/publiclayout :: nav">
    </nav>
</body>

</html>