<head th:fragment="head (pageTitle)" th:remove="tag">
	<link rel="stylesheet" type="text/css" media="screen" href="/styles/dashboard.css" th:src="@{/styles/dashboard.css}"/>
	<script th:src="@{/scripts/dashboard.js}" src="/scripts/dashboard.js"></script>
	<title th:text="${pageTitle}">RWD - Admin - </title>
</head>

<nav class="cd-side-nav nav-side" th:fragment="sideBar">
	<ul>
		<li class="cd-label">Principales</li>
		<li class="has-children overview"><a th:href="@{/admin-services-list}">Servicios</a>
			<ul>
				<li><a href="/admin-services-list.html" th:href="@{/admin-services-list}">Ver Servicios</a></li>
				<li><a href="/admin-add-service.html" th:href="@{/admin-add-service}">Añadir Servicio</a></li>
			</ul></li>
		<li class="has-children comments"><a th:href="@{/staff/staff-clients-list}">Clientes</a>
			<ul>
				<li><a href="/staff/staff-clients-list.html" th:href="@{/staff-clients-list}">Ver Clientes</a>
				</li>
				<li><a href="/admin/admin-add-client.html" th:href="@{/admin-add-client}">Añadir Cliente</a>
				</li>
			</ul></li>
		<li class="has-children comments"><a th:href="@{/admin-staff-list}">Empleados</a>
			<ul>
				<li><a href="/admin/admin-staff-list.html" th:href="@{/admin-staff-list}">Ver Empleados</a></li>
				<li><a href="/admin/admin-add-staff.html" th:href="@{/admin-add-staff}">Añadir Empleado</a></li>
			</ul></li>
		<li class="has-children comments"><a th:href="@{/admin-calendar}">Calendario</a>
			<ul>
				<li><a href="/admin/admin-calendar.html" th:href="@{/admin-calendar}">Ver Calendario</a></li>
				<li><a href="/admin/admin-add-appointment.html" th:href="@{/admin-add-appointment}">Añadir Cita</a></li>
			</ul></li>
	</ul>
	<ul th:replace="fragments/dashboardlayout :: sideBarUserOptions"></ul>
</nav>

<td class="footable-editing footable-last-visible" style="display: table-cell;" th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Admin)}" th:fragment="table-advancedOptions">
	<div class="btn-group btn-group-xs" role="group">
			<button class="btn btn-default footable-edit editButton">
				<span class="fooicon far fa-edit" aria-hidden="true"></span>
			</button>				
			<button class="btn btn-default footable-delete deleteButton">
				<span class="fooicon far fa-trash-alt" aria-hidden="true"></span>
			</button>
	</div>
</td>