<head th:fragment="head (pageTitle)" th:remove="tag">
	<link rel="stylesheet" type="text/css" media="screen" href="/styles/dashboard.css" th:src="@{/styles/dashboard.css}"/>
	<script th:src="@{/scripts/dashboard.js}" src="/scripts/dashboard.js"></script>
	<title th:text="${pageTitle}">RWD - Admin - </title>
</head>

<header class="cd-main-header" th:fragment="header">
	<a href="/admin-dashboard" class="cd-logo"
		th:href="@{/admin-dashboard}"> <img
		src="/images/icons/projectlogo.svg" width="40px" alt="Logo"
		th:href="@{/images/icons/projectlogo.svg}">
	</a> <a href="#0" class="cd-nav-trigger">Menu <span></span>
	</a>
	<nav class="cd-nav">
		<ul class="cd-top-nav">
			<li class="has-children account"><a href="#0"> <img
					src="/images/profilePics/profile-admin.jpg" alt="avatar"
					th:href="@{/images/profilePics/profile-admin.jpg}"> Admin
			</a>
				<ul>
					<li><a href="/public/user-profile"
						th:href="@{/public/profile}">Perfil</a></li>
					<li><a href="/public/user-index.html"
						th:href="@{/user-index}">Ir a página web</a></li>
					<li><a href="/index.html" th:href="@{/index}">Cerrar
							Sesión</a></li>
				</ul></li>
		</ul>
	</nav>
</header>

<nav class="cd-side-nav nav-side" th:fragment="sideBar">
	<ul>
		<li class="cd-label">Principales</li>
		<li class="has-children overview"><a href="#0">Servicios</a>
			<ul>
				<li><a href="/admin-services-list.html" th:href="@{/admin-services-list}">Ver Servicios</a></li>
				<li><a href="/admin-add-service.html" th:href="@{/admin-add-service}">Añadir Servicio</a></li>
			</ul></li>
		<li class="has-children comments"><a href="#0">Clientes</a>
			<ul>
				<li><a href="/staff/staff-clients-list.html" th:href="@{/staff/staff-clients-list}">Ver Clientes</a>
				</li>
				<li><a href="/admin/admin-add-client.html" th:href="@{/admin-add-client}">Añadir Cliente</a>
				</li>
			</ul></li>
		<li class="has-children comments"><a href="#0">Empleados</a>
			<ul>
				<li><a href="/admin/admin-staff-list.html" th:href="@{/admin-staff-list}">Ver Empleados</a></li>
				<li><a href="/admin/admin-add-staff.html" th:href="@{/admin-add-staff}">Añadir Empleado</a></li>
			</ul></li>
		<li class="has-children comments"><a href="#0">Calendario</a>
			<ul>
				<li><a href="/admin/admin-calendar.html" th:href="@{/admin-calendar}">Ver Calendario</a></li>
				<li><a href="/admin/admin-add-appointment.html" th:href="@{/admin-add-appointment}">Añadir Cita</a></li>
			</ul></li>
	</ul>
	<ul>
		<li class="cd-label">Secundarios</li>
		<li class="has-children bookmarks"><a
			href="/public/user-profile.html" th:href="@{/public/profile}">Perfil</a></li>
		<li class="has-children images"><a
			href="/public/user-index.html" th:href="@{/user-index}">Ir a página web</a></li>
		<li class="has-children users"><a href="/index.html" th:href="@{/}">Cerrar
				Sesión</a></li>
	</ul>
</nav>

<a href="#" class="nav-toggle" th:fragment="sideBarToggle"></a>