<head th:fragment="head" th:remove="tag">
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Proyecto Final para 1ºDAM de Mario Martínez Sanz">
    <meta name="author" content="Mario Martínez Sanz">
    <link rel="shortcut icon" type="image/x-icon" href="/images/icons/logo-icon.ico" th:href="@{/images/icons/logo-icon.ico}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>