<head th:fragment="head" th:remove="tag">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/user-nav.css" th:href="@{/styles/user-nav.css}"/>
    <script src="/scripts/user-nav.js" th:src="@{/scripts/user-nav.js}"></script>
</head>

<header class="cd-main-header" th:fragment="header">
        <a class="cd-logo" href="/public/user-index.html" th:href="@{/public}">
            <img src="/images/icons/projectlogo.svg" alt="Logo" width="35px" th:src="@{/images/icons/projectlogo.svg}">
        </a>

        <ul class="cd-header-buttons">
            <li>
                <a class="cd-nav-trigger" href="#cd-primary-nav">
                    <span></span>
                </a>
            </li>
        </ul>
        <!-- cd-header-buttons -->
</header>

<nav class="cd-nav" th:fragment="nav">
        <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
            <li>
                <a href="/public/user-index.html" th:href="@{/public}">
                    <span class="nav_bg_clr"></span>
                    <span>Inicio</span>
                </a>
            </li>

            <li class="has-children">
                <a href="/public/user-services.html" th:href="@{/public/services}">
                    <span class="nav_bg_clr"></span>
                    <span>Servicios</span>
                </a>
                <ul class="cd-nav-icons is-hidden">
                    <li class="go-back">
                        <a href="#0">Menu</a>
                    </li>
                    <li class="see-all">
                        <a href="user-services.html" th:href="@{/public/services}">Ver Servicios</a>
                    </li>
                    <li th:each="treatment : ${treatments}">
                        <a class="cd-nav-item item-1" href="/public/user-service.html" th:href="@{/public/service}">
                            <h3 th:text="${treatment.name}">Tratamiento</h3>
                        </a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="/public/user-aboutus.html" th:href="@{/public/aboutus}">
                    <span class="nav_bg_clr"></span>
                    <span>Sobre Nosotros</span>
                </a>
            </li>

            <li>
                <a href="/public/user-contactus.html" th:href="@{/public/contactus}">
                    <span class="nav_bg_clr current"></span>
                    <span>Contacto</span>
                </a>
            </li>

            <li>
                <a href="/public/user-profile.html" th:href="@{/public/profile}">{loggedUser.name}</a>
            </li>
        </ul>
        <!-- primary-nav -->
</nav>