<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listar Personas</title>
        
        <!--  Para comenzar a usar css, debemos crear varias carpetas:
         Dentro de src/main/resources, en la carpeta static podemos crear las carpetas (new folder) para css
         javascript, fonts, img, etc
         Para empezar se pueden incluir las plantillas HTML directamente dentro de la carpeta templates
         En este ejemplo, se usa el css utilizado en los ejemplos del tutorial llamado
         gtvg.css. En esa misma carpeta de webapp pueden ir otras como images, icons, etc.
         -->
        <link rel="stylesheet" href="/css/gtvg.css" />
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Ejemplo Listado de varias personas en una tabla</h1>
        <h2>Listado Personas</h2>
        <table>
            <thead>
                <tr>
                	<th>Número</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    
                </tr>
            </thead>
            <!--Hablaremos más adelante de remove, pero es una especie de condicional antes de pintar las filas
            es decir, comprueba alguna condición y si se cumple se puede pintar de otra manera, poner el valor 
            un hipervínculo, etc  -->
            <tbody th:remove="all-but-first">
            <!-- En el controlador podemos ver model.addAttribute("listado", lista); y la lista
            es de tipo Persona -->
                <tr th:each="persona : ${listado}">
                <!-- Cada each lleva internamente una serie de información que podemos mostrar
                como puede ser el índice del elemento de la lista (empieza en cero), el count (número de elemento
                que empieza en uno y que se accede diraectamente sin necesidad de ponerlo como atributo ), etc. 
                Se puede ver más en el apartado 6.2 del tutorial usinthymeleaf -->
                    <td th:text="${personaStat.count}"></td>
                    <td th:text="${persona.nombre}"></td>
                    <td th:text="${persona.apellidos}"></td>
                </tr>
                
            </tbody>
        </table>
    </body>
</html>
