<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/common :: head"></th:block>
    <th:block th:replace="fragments/adminlayout :: head (pageTitle='RWD - Staff - Dashboard')"></th:block>
</head>

<body>
    <header th:replace="fragments/dashboardlayout :: header"></header>
    <main class="cd-main-content">
        <nav th:replace="fragments/stafflayout :: sideBar"></nav>
		<a th:replace="fragments/dashboardlayout :: sideBarToggle"></a>
        <div class="content-wrapper">
            
        </div>
    </main>
</body>

</html>