<!DOCTYPE html>
<html lang="es">

<head>
    <th:block th:replace="fragments/common :: head"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/user-appointments.css" th:href="@{/styles/user-appointments.css}"/>
    <th:block th:replace="fragments/adminlayout :: head (pageTitle='RWD - Admin - Clientes')"></th:block>
    <script src="/scripts/user-appointments.js" th:src="@{/scripts/user-appointments.js}"></script>
</head>

<body>
    <header class="cd-main-header">
        <a href="./staff-dashboard.html" class="cd-logo">
            <img src="../../static/images/icons/projectlogo.svg" width="40px" alt="Logo">
        </a>
        <a href="#0" class="cd-nav-trigger">Menu
            <span></span>
        </a>
        <nav class="cd-nav">
            <ul class="cd-top-nav">
                <li class="has-children account">
                    <a href="#0">
                        <img src="../../static/images/profilePics/profile-admin.jpg" alt="avatar"> Admin
                    </a>
                    <ul>
                        <li>
                            <a href="../public/user-profile.html">Perfil</a>
                        </li>
                        <li>
                            <a href="../public/user-index.html">Ir a página web</a>
                        </li>
                        <li>
                            <a href="../index.html">Cerrar Sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main class="cd-main-content">
        <nav class="cd-side-nav nav-side">
            <ul>
                <li class="cd-label">Principales</li>
                <li class="has-children overview">
                    <a href="#0">Servicios</a>
                    <ul>
                        <li>
                            <a href="#0">Ver Servicios</a>
                        </li>
                        <li>
                            <a href="#0">Añadir Servicio</a>
                        </li>
                    </ul>
                </li>
                <li class="has-children comments">
                    <a href="#0">Clientes</a>
                    <ul>
                        <li>
                            <a href="#0">Ver Clientes</a>
                        </li>
                        <li>
                            <a href="#0">Añadir Cliente</a>
                        </li>
                    </ul>
                </li>
                <li class="has-children comments">
                    <a href="#0">Empleados</a>
                    <ul>
                        <li>
                            <a href="#0">Ver Empleados</a>
                        </li>
                        <li>
                            <a href="#0">Añadir Empleado</a>
                        </li>
                    </ul>
                </li>
                <li class="has-children comments">
                    <a href="#0">Calendario</a>
                    <ul>
                        <li>
                            <a href="#0">Ver Calendario</a>
                        </li>
                        <li>
                            <a href="#0">Añadir Cita</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul th:replace="fragments/dashboardlayout :: sideBarUserOptions"></ul>
        </nav>
		<a th:replace="fragments/dashboardlayout :: sideBarToggle"></a>
        <div class="table-container">
            <div class="table-header">
                <div class="table-title">
                    Clientes
                </div>
                <div class="table-totalItems">
                    Total: {numElementosEnLista}
                </div>
                <div class="table-buttons">
                    <div class="btn-box add-element" id="submit">
                        <a href="">
                            <button class="btn btn-submit" type="submit">Añadir Cliente</button>
                        </a>
                    </div>
                    <div class="btn-box table-filter" id="submit">
                        <button class="btn btn-submit" type="submit">Filtrar por Pago Pendiente</button>
                    </div>
                </div>
                <div class="search">
                    <input type="search" class="search-box" placeholder="Buscar..." />
                    <span class="search-button">
                        <span class="search-icon"></span>
                    </span>
                </div>
            </div>
            <div class="table">
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>IdCliente</th>
                                <th>Nombre</th>
                                <th>Teléfono</th>
                                <th>Email</th>
                                <th>Fecha de Registro</th>
                                <th>Cita Pendiente</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <!--Aquí irá el th:each para cada cliente del set de Clientes de la clase Empresa.-->
                            <tr>
                                <td id="serviceName">{cliente.id}</td>
                                <td id="orderDate">{cliente.name}</td>
                                <td id="appointmentDate">{cliente.phone}</td>
                                <td id="dentistName">{cliente.email}</td>
                                <td>{cliente.registerDate}</td>
                                <td id="payStatus">
                                    <label class="form-checkbox-label">
                                        <input name=payStatus class="form-checkbox-field" type="checkbox" />
                                        <i class="form-checkbox-button"></i>
                                    </label>
                                </td>
                                <td class="advancedOptions">
                                    <div class="dropdown" style="float:right;">
                                        <img src="../../static/images/icons/icon-advancedOptions.svg" class="dropbtn" alt="" width="24px">
                                        <div class="dropdown-content">
                                            <a href="#">Editar</a>
                                            <a href="#">Borrar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>

</html>