<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/common :: head"></th:block>
    <th:block th:replace="fragments/adminlayout :: head (pageTitle='RWD - Staff - Dashboard')"></th:block>
</head>

<body>
    <header></header>
    <main class="cd-main-content">
        <nav th:replace="fragments/stafflayout :: sideBar"></nav>
		<a th:replace="fragments/dashboardlayout :: sideBarToggle"></a>
        <div class="content-wrapper">
            <div class="dashboard-main">
                <a href="staff-schedule.html">
                    <div class="dashboard-card">
                        <span class="icon-schedule icon" role="img"></span>
                        <hr class="divider"> Horario Personal
                    </div>
                </a>
                <a href="staff-clients-list.html">
                    <div class="dashboard-card">
                        <span class="icon-clients icon" role="img"></span>
                        <hr class="divider"> Clientes
                    </div>
                </a>
                <a href="../public/user-profile.html">
                    <div class="dashboard-card">
                        <span class="icon-profile icon" role="img"></span>
                        <hr class="divider"> Ficha Personal
                    </div>
                </a>
                <a href="../admin/admin-calendar.html">
                    <div class="dashboard-card">
                        <span class="icon-calendar icon" role="img"></span>
                        <hr class="divider"> Calendario
                    </div>
                </a>
            </div>
        </div>
    </main>
</body>

</html>