<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/common :: head"></th:block>
    <th:block th:replace="fragments/adminlayout :: head (pageTitle='RWD - Staff - Dashboard')"></th:block>
</head>

<body>
    
    <main class="cd-main-content">
        <nav class="cd-side-nav nav-side">
            <ul>
                <li class="cd-label">Principales</li>
                <li class="has-children overview">
                    <a href="#0">Servicios</a>
                    <ul>
                        <li>
                            <a href="#0">Ver Servicios</a>
                        </li>
                        <li>
                            <a href="#0">Añadir Servicio</a>
                        </li>
                    </ul>
                </li>
                <li class="has-children comments">
                    <a href="#0">Clientes</a>
                    <ul>
                        <li>
                            <a href="#0">Ver Clientes</a>
                        </li>
                        <li>
                            <a href="#0">Añadir Cliente</a>
                        </li>
                    </ul>
                </li>
                <li class="has-children comments">
                    <a href="#0">Empleados</a>
                    <ul>
                        <li>
                            <a href="#0">Ver Empleados</a>
                        </li>
                        <li>
                            <a href="#0">Añadir Empleado</a>
                        </li>
                    </ul>
                </li>
                <li class="has-children comments">
                    <a href="#0">Calendario</a>
                    <ul>
                        <li>
                            <a href="#0">Ver Calendario</a>
                        </li>
                        <li>
                            <a href="#0">Añadir Cita</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul th:replace="fragments/dashboardlayout :: sideBarUserOptions"></ul>
        </nav>
		<a th:replace="fragments/dashboardlayout :: sideBarToggle"></a>
        <div class="content-wrapper">
            <div class="dashboard-main">
                <a href="staff-schedule.html">
                    <div class="dashboard-card">
                        <span class="icon-schedule icon" role="img"></span>
                        <hr class="divider"> Horario Personal
                    </div>
                </a>
                <a href="staff-clients-list.html">
                    <div class="dashboard-card">
                        <span class="icon-clients icon" role="img"></span>
                        <hr class="divider"> Clientes
                    </div>
                </a>
                <a href="../public/user-profile.html">
                    <div class="dashboard-card">
                        <span class="icon-profile icon" role="img"></span>
                        <hr class="divider"> Ficha Personal
                    </div>
                </a>
                <a href="../admin/admin-calendar.html">
                    <div class="dashboard-card">
                        <span class="icon-calendar icon" role="img"></span>
                        <hr class="divider"> Calendario
                    </div>
                </a>
            </div>
        </div>
    </main>
</body>

</html>