<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block th:replace="fragments/common :: head"></th:block>
    <th:block th:replace="fragments/adminlayout :: head (pageTitle='RWD - Dashboard')"></th:block>
</head>

<body>
    <header th:replace="fragments/adminlayout :: header"></header>
    <main class="cd-main-content">
		<nav th:replace="fragments/adminlayout :: sideBar"></nav>
		<a th:replace="fragments/adminlayout :: sideBarToggle"></a>
        <div class="content-wrapper">
            <div class="dashboard-main">
                <a href="/admin-services-list.html" th:href="@{/admin-services-list}">
                    <div class="dashboard-card">
                        <span class="icon-services icon" role="img"></span>
                        <hr class="divider"> Servicios
                    </div>
                </a>
                <a href="../staff/staff-clients-list.html" th:href="@{/staff/staff-clients-list}">
                    <div class="dashboard-card">
                        <span class="icon-clients icon" role="img"></span>
                        <hr class="divider"> Clientes
                    </div>
                </a>
                <a href="/admin/admin-staff-list.html" th:href="@{/admin-staff-list}">
                    <div class="dashboard-card">
                        <span class="icon-staff icon" role="img"></span>
                        <hr class="divider"> Empleados
                    </div>
                </a>
                <a href="admin-calendar.html" th:href="@{/admin-calendar}">
                    <div class="dashboard-card">
                        <span class="icon-calendar icon" role="img"></span>
                        <hr class="divider"> Calendario
                    </div>
                </a>
            </div>
        </div>
    </main>
</body>

</html>