<!DOCTYPE html>
<html>

<head>
    <th:block th:replace="fragments/common :: head"></th:block>
    <th:block th:replace="fragments/adminlayout :: head (pageTitle='RWD - Dashboard - Añadir Cita')"></th:block>
</head>

<body>
    <header th:replace="fragments/adminlayout :: header"></header>
    <main class="cd-main-content">
        <nav th:replace="fragments/adminlayout :: sideBar"></nav>
		<a th:replace="fragments/dashboardlayout :: sideBarToggle"></a>
        <div class="content-wrapper">
        </div>
    </main>
</body>

</html>