<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<th:block th:replace="fragments/common :: head"></th:block>
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../styles/user-appointments.css" />
	<th:block th:replace="fragments/adminlayout :: head (pageTitle='Servicios')"></th:block>
	<script src="../../scripts/user-appointments.js"></script>
</head>

<body>
	<header th:replace="fragments/adminlayout :: header"> </header>
	<main class="cd-main-content">
	<nav th:replace="fragments/adminlayout :: sideBar"></nav>
	<a th:replace="fragments/adminlayout :: sideBarToggle"></a>
	<div class="table-container">
		<div class="table-header">
			<div class="table-title">Servicios</div>
			<div class="table-totalItems">Total: <span>{numElementosEnLista}</span></div>
			<div class="table-buttons">
				<div class="btn-box add-element" id="submit">
					<a href="/admin-add-service" th:href="@{/admin-add-service}">
						<button class="btn btn-submit" type="submit">Añadir
							Servicio</button>
					</a>
				</div>
			</div>
			<div class="search">
				<input type="search" class="search-box" placeholder="Buscar..." />
				<span class="search-button"> <span class="search-icon"></span>
				</span>
			</div>
		</div>
		<div class="table">
			<div class="tbl-header">
				<table cellpadding="0" cellspacing="0" border="0">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Descripcion</th>
							<!--Mostrar solo X caracteres seguidos de '...'-->
							<th>Precio</th>
							<th>Descuento</th>
							<th>Pagado a Plazos</th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="tbl-content">
				<table cellpadding="0" cellspacing="0" border="0">
					<tbody>
						<tr th:each="treatment : ${treatments}">
							<td id="serviceName" th:text="${treatment.id}">{service.id}</td>
							<td id="orderDate" th:text="${treatment.name}">{service.name}</td>
							<td id="appointmentDate" th:text="${treatment.description}">{service.description}</td>
							<td id="dentistName" th:text="${treatment.totalPrice}">{service.price}</td>
							<td th:text="${treatment.discount}">{service.discount}</td>
							<!-- th:text="${treatment.isPaidInInstallments} ? 'true' : 'false'" -->
							<td>
								<span th:if="${treatment.paidInInstallments}">Si</span>
								<span th:if="${!treatment.paidInInstallments}">No</span>
							</td>
							<td class="advancedOptions">
								<div class="dropdown" style="float: right;">
									<img th:src="@{/images/icons/icon-advancedOptions.svg}" src="/images/icons/icon-advancedOptions.svg"
										class="dropbtn" alt="" width="24px">
									<div class="dropdown-content">
										<a href="/admin/admin-add-service.html" th:href="@{/admin/admin-add-service.html}">Editar</a> <a href="#">Borrar</a>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</main>
</body>

</html>