<!DOCTYPE html>
<html>

<head>
    <th:block th:replace="fragments/common :: head"></th:block>
    <th:block th:replace="fragments/adminlayout :: head (pageTitle='RWD - Dashboard - Editar Cliente')"></th:block>
</head>

<body>
    <header th:replace="fragments/dashboardlayout :: header"></header>
    <main class="cd-main-content">
        <nav th:replace="fragments/adminlayout :: sideBar"></nav>
		<a th:replace="fragments/dashboardlayout :: sideBarToggle"></a>
        <div class="content-wrapper" id="addForm-wrapper">
        	<h1 class="pageTitle">Editar Cliente</h1>
        	<div class="add-form-container">
        		<form method="post" th:action="@{/editClient}" th:object="${editableClient}" id="addServiceForm">
        			<div class="group" id="dniInput" style="display: none;">
		                <input type="hidden" required="required" name="id" th:field="*{id}" th:value="*{id}" readonly="readonly"/>
		                <input type="hidden" required="required" name="name" th:field="*{registerDate}" th:value="*{registerDate}" readonly="readonly"/>
		            </div>
        			<div class="inputTitle">
		                Nombre Completo
		            </div>
		            <div class="group" id="dniInput">
		                <input type="text" placeholder="Luke Skywalker" name="name" th:field="*{name}" th:value="*{name}"/>
		                <span class="highlight"></span>
		                <span class="bar"></span>
		                <label th:text="*{name}">{client.name}</label>
		            </div>
		            <div class="inputTitle">
		                Email
		            </div>
		            <div class="group" id="nameInput">
		            	<input type="text" placeholder="skywalkerluke@rwd.com" name="email" th:field="*{email}" th:value="*{email}"/>
		            	<span class="highlight"></span>
		                <span class="bar"></span>
		                <label th:text="*{email}">{client.email}</label>
		            </div>
		            <div class="inputTitle">
		                DNI
		            </div>
		            <div class="group" id="dniInput">
		                <input type="text" placeholder="1" th:field="*{dni}" name="dni" th:value="*{dni}"/>
		                <span class="highlight"></span>
		                <span class="bar"></span>
		                <label th:text="*{dni}">{client.dni}</label>
		            </div>
		            <div class="inputTitle">
		                Contraseña
		            </div>
		            <div class="group" id="phoneInput">
		                <input type="password" placeholder="1" th:field="*{password}" name="totalPrice" th:value="*{password}"/>
		                <span class="highlight"></span>
		                <span class="bar"></span>
		                <label th:text="*{password}">{client.password}</label>
		            </div>
		            <div class="inputTitle">
		                Teléfono
		            </div>
		            <div class="group" id="dniInput">
		                <input type="text" placeholder="5" th:field="*{phone}" name="phone" th:value="*{phone}"/>
		                <span class="highlight"></span>
		                <span class="bar"></span>
		                <label th:text="*{phone}">{client.phone}</label>
		            </div>
		            <div class="group" id="dniInput">
		                <!-- <input type="checkbox" th:name="duePayment" th:field="*{duePayment}" required="required" th:checked="*{duePayment}"/> Cita Pendiente -->
		            </div>
        			<div class="btn-box" id="submit">
                		<button class="btn btn-submit" type="submit">Guardar Cambios</button>
            		</div>
            		<div class="btn-box" id="submit">
                		<button class="btn btn-submit" type="reset">Reestablecer Valores</button>
            		</div>
        		</form>
        	</div>
        </div>
    </main>
</body>

</html>