<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<th:block th:replace="fragments/common :: head"></th:block>
	<link rel="stylesheet" type="text/css" media="screen"
		href="/styles/user-appointments.css" th:href="@{/styles/user-appointments.css}"/>
	<link rel="stylesheet" type="text/css" href="/styles/footable.standalone.min.css" th:href="@{/styles/footable.standalone.min.css}"/>
	<th:block th:replace="fragments/adminlayout :: head (pageTitle='RWD - Admin - Servicios')"></th:block>
	<script type="text/javascript" src="/scripts/footable.min.js" th:src="@{/scripts/footable.min.js}"></script>
	<script src="/scripts/user-appointments.js" th:src="@{/scripts/user-appointments.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
	<link rel="stylesheet" href="/styles/footable.fontawesome.css" th:href="@{/styles/footable.fontawesome.css}"/>
</head>

<body>
    <header th:replace="fragments/dashboardlayout :: header"></header>
	<main class="cd-main-content">
		<nav th:replace="fragments/adminlayout :: sideBar"></nav>
		<a th:replace="fragments/dashboardlayout :: sideBarToggle"></a>
		<div class="table-container">
			<div class="table-header">
				<div class="table-title">Servicios</div>
				<div class="table-totalItems">Total: <span th:text="${numberOfTreatments}">{numElementosEnLista}</span></div>
				<div class="table-buttons"></div>
		</div>
		<div class="table">
			<table cellpadding="0" cellspacing="0" border="0" id="showcase-example-1" class="table" data-paging="true" data-filtering="true" data-sorting="true" data-editing="true" data-state="true">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Descripcion</th>
						<th>Precio</th>
						<th>Descuento</th>
						<th>Pagado a Plazos</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="treatment : ${treatments}">
						<td id="serviceName" th:text="${treatment.id}">{service.id}</td>
						<td id="orderDate" th:text="${treatment.name}">{service.name}</td>
						<td id="appointmentDate" th:text="${treatment.description.substring(0, treatment.description.length() / 2)} + '...'">{service.description}</td>
						<td id="dentistName" th:text="${treatment.totalPrice}">{service.price}</td>
						<td th:text="${treatment.discount}">{service.discount}</td>
						<!--  -->
						<td th:text="${treatment.paidInInstallments} ? 'Si' : 'No'"></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<div class="modal fade" id="editor-modal" tabindex="-1" role="dialog" aria-labelledby="editor-title">
			<style scoped>
				/* provides a red astrix to denote required fields - this should be included in common stylesheet */
				.form-group.required .control-label:after {
					content:"*";
					color:red;
					margin-left: 4px;
				}
			</style>
			<div class="modal-dialog" role="document">
				<form class="modal-content form-horizontal" id="editor">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
						<h4 class="modal-title" id="editor-title">Añadir Elemento</h4>
					</div>
					<div class="modal-body">
						<div class="form-group required">
							<label for="firstName" class="col-sm-3 control-label">Nombre</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="firstName" name="firstName" placeholder="Nombre" required>
							</div>
						</div>
						<div class="form-group required">
							<label for="lastName" class="col-sm-3 control-label">Descripción</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Descripción" required>
							</div>
						</div>
						<div class="form-group">
							<label for="jobTitle" class="col-sm-3 control-label">Precio Total</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="Precio Total">
							</div>
						</div>
						<div class="form-group required">
							<label for="startedOn" class="col-sm-3 control-label">Descuento</label>
							<div class="col-sm-9">
								<input type="date" class="form-control" id="startedOn" name="startedOn" placeholder="Porcentaje de Descuento" required>
							</div>
						</div>
						<div class="form-group">
							<label for="dob" class="col-sm-3 control-label">Pago a Plazos</label>
							<div class="col-sm-9">
								<input type="date" class="form-control" id="dob" name="dob" placeholder="Date of Birth">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Guardar Cambios</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</main>
</body>

</html>