<!DOCTYPE html>
<html lang="es">

<head>
	<th:block th:replace="fragments/common :: head"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/user-appointments.css" th:href="@{/styles/user-appointments.css}"/>
    <th:block th:replace="fragments/adminlayout :: head (pageTitle='RWD - Admin - Empleados')"></th:block>
    <script src="/scripts/user-appointments.js" th:src="@{/scripts/user-appointments.js}"></script>
    
</head>

<body>
    <header th:replace="fragments/adminlayout :: header"></header>
    <main class="cd-main-content">
        <nav th:replace="fragments/adminlayout :: sideBar"></nav>
		<a th:replace="fragments/adminlayout :: sideBarToggle"></a>
        <div class="table-container">
            <div class="table-header">
                <div class="table-title">
                    Empleados
                </div>
                <div class="table-totalItems">
                    Total: {numElementosEnLista}
                </div>
                <div class="table-buttons">
                    <div class="btn-box add-element" id="submit">
                        <a href="admin-add-service.html">
                            <button class="btn btn-submit" type="submit">Añadir Empleado</button>
                        </a>
                    </div>
                </div>
                <div class="search">
                    <input type="search" class="search-box" placeholder="Buscar..." />
                    <span class="search-button">
                        <span class="search-icon"></span>
                    </span>
                </div>
            </div>
            <div class="table">
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Teléfono</th>
                                <th>Email</th>
                                <th>Sueldo</th>
                                <th>Puesto</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <!--Aquí irá el th:each para cada cliente del set de Clientes de la clase Empresa.-->
                            <tr th:each="employee : ${staff}">
                                <td id="serviceName" th:text="${employee.id}">{employee.id}</td>
                                <td id="orderDate" th:text="${employee.name}">{employee.name}</td>
                                <td id="appointmentDate" th:text="${employee.phone}">{employee.phone}</td>
                                <td id="dentistName" th:text="${employee.name}">{employee.email}</td>
                                <td th:text="${employee.grossAnualSalary}">{employee.grossAnualSalary}</td>
                                <td th:text="${employee.position}">{employee.position}</td>
                                <td th:replace="fragments/adminlayout :: table-advancedOptions"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>

</html>