<form class="form-card" id="signupform" method="post" th:action="@{/checkSignUp}" th:object="${signUpUser}">
    <fieldset class="form-fieldset">
        <legend class="form-legend">Registrate</legend>
        <div class="form-element form-input">
            <input id="name" class="form-element-field" placeholder="Introduzca su nombre completo"
                type="input" required name="name" th:field="*{name}" th:value="*{name}"/>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9">Nombre Completo</label>
        </div>
        <div class="form-element form-input">
            <input id="phone" class="form-element-field" placeholder=" " type="number" required name="phone" th:field="*{phone}" th:value="*{phone}"/>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="field-x98ezh-s6s2g8-vfrkgb-ngrhef-atfkop">Número de teléfono</label>
        </div>
        <div class="form-element form-input">
            <input id="dni" class="form-element-field" placeholder=" " type="input" required name="dni" th:field="*{dni}" th:value="*{dni}"/>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="field-x98ezh-s6s2g8-vfrkgb-ngrhef-atfkop">DNI</label>
        </div>
        <div class="form-element form-input">
            <input id="email" class="form-element-field" placeholder=" " type="email" required name="email" th:field="*{email}" th:value="*{email}"/>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="field-uyzeji-352rnc-4rv3g1-bvlh88-9dewuz">Email</label>
        </div>
        <div class="form-element form-input">
            <input id="password" class="form-element-field" placeholder=" " type="password" required name="password" th:field="*{password}" th:value="*{password}"/>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="field-uyzeji-352rnc-4rv3g1-bvlh88-9dewuz">Contraseña</label>
        </div>
    </fieldset>
</form>
<div class="form-actions">
    <button type="submit" form="signupform" id="submitSignUpButton">Registrarse</button>
</div>