<!DOCTYPE html>
<html lang="es">

<head>
    <th:block th:replace="fragments/common :: head"></th:block>
	<th:block th:replace="fragments/publiclayout :: head"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/user-service.css" th:href="@{/styles/user-service.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="/scripts/user-service.js" th:src="@{/scripts/user-service.js}"></script>
    <title>RWD - Servicios</title>
</head>

<body>
    <header class="cd-main-header" th:replace="fragments/publiclayout :: header"></header>
    
    <main class="cd-main-content">
        <h1 class="sectionName" th:text="${selectedTreatment.name}">
            {treatment.name}
        </h1>
        <h1 class="detailTitle">
            Detalles
        </h1>
        <div class="picture">
            <img src="http://via.placeholder.com/450x450" alt="" th:src="${selectedTreatment.picture}">
        </div>
        <div class="details">
            <div class="service-description" th:text="${selectedTreatment.description}">
                Consequat magna reprehenderit dolore consequat sunt in esse sint est. Nulla nulla pariatur officia magna sint commodo cillum
                deserunt voluptate. Aliquip commodo irure velit nisi qui eiusmod elit pariatur elit fugiat. Amet laborum
                consectetur mollit minim ea nostrud. Irure esse laboris ea ea esse. Nulla fugiat deserunt officia velit.
                Do proident elit eiusmod Lorem id.
            </div>
            <div class="service-details">
                <p>Nº Sesiones: <span th:text="${selectedTreatment.numSessions}">{treatment.numSesiones}</span></p>
                <p>Precio Total: <span th:text="${selectedTreatment.totalPrice}">{treatment.totalPriceWithoutDiscount}</span>€</p>
            </div>
        </div>
        <div class="appointmentRequest">
            <div id="appointmentRequestButton">
                Pedir cita
            </div>
        </div>
        <div class="cd-overlay"></div>
    </main>
    <nav th:replace="fragments/publiclayout :: nav">
    </nav>
    <!-- cd-nav -->
    <div id="appointmentModal" th:if="${}">
        <form th:action="@{'/addNewAppointment/' + ${selectedTreatment.id}}" th:object="${newAppointment}" id="initialAppointmentWindow" method="post">
            <div class="appointment-header">
                <div id="title">
                    <h1>Pedir cita</h1>
                </div>
                <div id="exit">
                    <a href="#" id="exitButton"></a>
                </div>
            </div>
            <div class="appointment-content">
                <div id="date">
                    <h2>Selecciona fecha:</h2>
                </div>
                <div id="calendar">
                    <input type="date" name="startDate" th:field="*{startDate}" th:value="*{startDate}" id="datePicker"  required>
                </div>
                <div id="time">
                    <h2>Selecciona hora (HH:MM AM/PM):</h2>
                </div>
                <div id="timePicker">
                    <input type="time" name="startTime" id="timeInput" th:field="*{startTime}" th:value="*{startTime}" required>
                </div>
                <div id="price">
                    <h2>Precio final<span th:if="${selectedTreatment.discount != 0}"> con descuento del <span th:text="${selectedTreatment.discount}"></span>%</span>:</h2>
                    <div id="finalPrice">
                        <span th:text="${totalPriceWithDiscount}">{totalPriceWithDiscount}</span>€
                    </div>
                </div>
                <button id="payNow" type="submit" name="action" th:value="payNow">Pagar Ahora</button>
                <button id="payPhysically" type="submit" name="action" th:value="payPhysically">Pagar en la Clínica</button>
            </div>
        </form>
    </div>
    <script th:if="${appointmentSuccess}">
    $(document).ready(function() {    	
	    toastr.options = {
				"closeButton": false,
				"debug": false,
				"newestOnTop": false,
				"progressBar": true,
				"positionClass": "toast-bottom-center",
				"preventDuplicates": false,
				"onclick": null,
				"showDuration": "300",
				"hideDuration": "1000",
				"timeOut": "5000",
				"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
		};
		toastr.success("Cita realizada con éxito");
    });
    </script>
</body>

</html>