<!DOCTYPE html>
<html>

<head>
	<th:block th:replace="fragments/common :: head"></th:block>
    <th:block th:replace="fragments/adminlayout :: head (pageTitle='RWD - Dashboard - Añadir Servicio')"></th:block>
</head>

<body>
    <header th:replace="fragments/dashboardlayout :: header"></header>
    <main class="cd-main-content">
        <nav th:replace="fragments/adminlayout :: sideBar"></nav>
		<a th:replace="fragments/dashboardlayout :: sideBarToggle"></a>
        <div class="content-wrapper" id="addForm-wrapper">
        	<h1 class="pageTitle">Editar Servicio</h1>
        	<div class="add-form-container">
        		<form method="post" th:action="@{/editTreatment}" th:object="${editableTreatment}" id="addServiceForm">
        			<div class="group" id="dniInput" style="display: none;">
		                <input type="hidden" required="required" name="id" th:field="*{id}" th:value="*{id}" readonly="readonly"/>
		                <input type="hidden" required="required" name="picture" th:field="*{picture}" th:value="*{picture}" readonly="readonly"/>
		            </div>
        			<div class="inputTitle">
		                Nombre del Servicio
		            </div>
		            <div class="group" id="dniInput">
		                <input type="text" required="required" placeholder="Blanqueamiento" name="name" th:field="*{name}" th:value="*{name}" id="nameInput"/>
		                <span class="highlight"></span>
		                <span class="bar"></span>
		                <label th:text="*{name}">{treatment.name}</label>
		            </div>
		            <div class="inputTitle">
		                Descripción
		            </div>
		            <div class="group" id="nameInput">
		            	<textarea rows="" cols="" required="required" name="description" th:placeholder="*{description}" th:field="*{description}" th:value="*{description}" id="descriptionInput"></textarea>
		            </div>
		            <div class="inputTitle">
		                Precio
		            </div>
		            <div class="group" id="phoneInput">
		                <input type="number" step=".01" required="required" placeholder="1" th:field="*{totalPrice}" name="totalPrice" th:value="*{totalPrice}" id="totalPriceInput"/>
		                <span class="highlight"></span>
		                <span class="bar"></span>
		                <label th:text="*{totalPrice}">{treatment.totalPrice}</label>
		            </div>
		            <div class="inputTitle">
		                Descuento (%)
		            </div>
		            <div class="group" id="dniInput">
		                <input type="number" placeholder="5" th:field="*{discount}" name="discount" th:value="*{discount}"/>
		                <span class="highlight"></span>
		                <span class="bar"></span>
		                <label th:text="*{discount}">{treatment.discount}</label>
		            </div>
		            <div class="inputTitle">
		                Número de Sesiones
		            </div>
		            <div class="group" id="dniInput">
		                <input type="number" required="required" placeholder="1" name="numSessions" th:field="*{numSessions}" th:value="*{numSessions}"/>
		                <span class="highlight"></span>
		                <span class="bar"></span>
		                <label th:text="*{numSessions}">{treatment.numSessions}</label>
		            </div>
		            <div class="inputTitle">
		                Pagado a plazos
		            </div>
		            <div class="group" id="dniInput">
		                <input type="checkbox" th:type="checkbox" name="paidInInstallments" th:field="*{paidInInstallments}" th:value="*{paidInInstallments}" th:checked="*{paidInInstallments}"/>
		                <input type="hidden" value="on" name="_paidInInstallments"/>
		            </div>
		            <div class="inputTitle">
		                Histórico
		            </div>
		            <div class="group" id="dniInput">
		                <input type="checkbox" th:type="checkbox" name="historical" th:field="*{historical}" th:value="*{historical}" th:checked="*{historical}"/>
		                <input type="hidden" value="on" name="_historical"/>
		            </div>
        			<div class="btn-box" id="submit">
                		<button class="btn btn-submit" type="submit" id="submitEditButton">Guardar Cambios</button>
            		</div>
            		<div class="btn-box" id="submit">
                		<button class="btn btn-submit" type="reset">Reestablecer Valores</button>
            		</div>
        		</form>
        	</div>
        </div>
    </main>
</body>

</html>