<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Formulario completo</title>
</head>
<body>

	<h3>Bienvenido, introduzca los datos del producto</h3>

	<form method="post" th:action="addProducto" th:object="${productoForm}">

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="Name">Nombre</label>
			<div class="col-md-4">
				<input id="Name" name="Name" placeholder="Nombre del producto"
					class="form-control input-md" type="text" th:field="*{name}" /> <span
					class="help-block">help</span>
			</div>
		</div>

		<!-- Textarea -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textarea">Descripción</label>
			<div class="col-md-4">
				<textarea class="form-control" id="textarea" name="textarea"
					th:field="*{description}">default text</textarea>
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">Precio</label>
			<div class="col-md-4">
				<input id="textinput" name="textinput"
					placeholder="Con dos decimales" class="form-control input-md"
					type="text" th:field="*{price}" /> <span class="help-block">help</span>
			</div>

		</div>

		<!-- Multiple Radios -->
		<!-- 
En los radios, Thymeleaf va asignando automáticamente un id a cada button para tenerlos
localizados en todo momento.

Primero: debemos usar listado de "radios", aunque solo sean dos
Segundo: Un bucle para recorrer los "tipos de cerveza que habrá! por lo tanto necesitamos
una lista de tipos de cerveza. En este caso, se ha puesto directamente en el controlador
pero iría en la clase tipos (no en la cerveza porque la cerveza "ES" de un tipo
Tercero: Hay que añadir esa lista al model en el controlador
Cuarto: El field es el nombre del atributo de la pojo, y el value, lo que se manda desde el formulario
es del tipo del que hemos creado la lista de tipos, en este caso, un array de String -->
		<ul>
			<li th:each="tipoProducto : ${tipos}"><input type="radio"
				th:field="*{tipo}" th:value="${tipoProducto}" /> <!--  <label
				th:for="${#ids.prev('tipo')}"
				th:text="#{${'seedstarter.tipo.' + tipoProducto}}">Tipo de producto</label>-->
				<!-- Esto nos  da el id del elemento previo pintado, porque estamos 
				pintando el radio antes que el label. Si fuese al revés, pintar antes el label que el radio
				usaríamos el método	next que también existe. Para ese radio, pintamos la etiqueta que sea
				con el nombre guardado en el array de tipos normalmente.
				En resumen, sirve para que al pinchar en el label, también se marque el radio previo--> 
				<label
				th:for="${#ids.prev('tipo')}" th:text="${tipoProducto}">Tipo
					de producto</label></li>
		</ul>

		<!-- Calendario tipo date. Pasa la fecha recogida al controlador como String en formato 
		inglés. El controlador, al estar anotado el atributo en la clase POJO como 
		@DateTimeFormat(pattern = "yyyy-MM-dd") en formato inglés, la pasa a tipo Date y luego
		esa fecha tipo Date, se le pasa al html de vista. Para pintarla, se formatea con la 
		forma que proporciona Thymeleaf usando format y el patrón que queramos.
		 -->

		<div>

			<input type="date" id="FCaducidad" name="fCadu" th:field="*{FCaducidad}" th:value="*{FCaducidad}" />

		</div>


		<input type="submit" value="Submit" />
	</form>
</body>
</html>