<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Datos del producto</title>
</head>
<body>

<!-- No se muestra el id porque en este caso no estamos trabajando con los id de los productos -->
	<h2>Información enviada del producto</h2>
	<table>
		<tr>
			<td>ID:</td>
			<td>${producto.id}</td>
		</tr>

		<tr>
			<td>Nombre:</td>
			<td th:text="${producto.name}"></td>
		</tr>

		<tr>
			<td>Descripción:</td>
			<td th:text="${producto.description}"></td>
		</tr>

		<tr>
			<td>Precio:</td>
			<td th:text="${#numbers.formatDecimal(producto.price, 1, 2)}"></td>
		</tr>

		<tr>
			<td>Tipo:</td>
			<td th:text="${producto.tipo}">Tipo</td>
		</tr>

<!-- Aquí ya podemos formatear la fecha al formato que queramos, por ejemplo, español
con días, mes y año. -->
		<tr>
			<td>Fecha de caducidad:</td>
			<td th:text="${#dates.format(producto.FCaducidad, 'dd/MM/yyyy')}"></td>
			
		</tr>
	</table>

</body>
</html>