$primary-color1: #3c393d;
$primary-color2: #989690;
$primary-color3: #2cbfd3;
$primary-color4: #f5f9f8;
$primary-color5: #c3975f;
$invalid: #E91E63;
@font-face {
    font-family: Bodoni;
    src: url('../fonts/BodoniFLF-Roman.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.cd-main-content {
    margin-top: 3em;
    display: grid;
    .profileForm-container {
        grid-area: profileForm;
        justify-self: flex-end;
        display: grid;
        grid-template-areas: "dni" "dniInput" "name" "nameInput" "phone" "phoneInput" "email" "emailInput" "password" "passwordInput" "submit";
        border: $primary-color3 3px solid;
        div:nth-child(even) {
            margin-bottom: 20px;
        }
    }
    .profilePicture {
        grid-area: profilePicture;
        display: grid;
        grid-template-areas: "profilePic" "employeePosition" "grossAnualSalaryTitle" "grossAnualSalaryValue";
        grid-template-rows: 2fr 0fr 0fr 0fr;
        justify-content: center;
        justify-self: flex-start;
        background-color: $primary-color5;
        width: 35%;
        min-height: 30vh;
        img {
            height: 100%;
            width: 100%;
            background-color: $primary-color3;
        }
        .employeePosition {
            grid-area: employeePosition;
        }
        .grossAnualSalaryTitle {
            grid-area: grossAnualSalaryTitle;
        }
        .grossAnualSalaryValue {
            grid-area: grossAnualSalaryValue;
        }
    }
}

/*MATERIAL FORM STYLING*/

// VARIABLES // ============================== //
$bg-color: #424242;
$muted-color: mix(white,
$bg-color,
70%);
$trans-time: 300ms;
// FORM // ============================== //
form {
    h1 {
        font-size: 3em;
        font-weight: 300;
        text-align: center;
        color: $primary-color3;
    }
    h5 {
        text-align: center;
        text-transform: uppercase;
        color: $muted-color;
    }
    hr.sep {
        background: $primary-color3;
        box-shadow: none;
        border: none;
        height: 2px;
        width: 25%;
        margin: 0px auto 45px auto;
    }
}

.group {
    position: relative;
    margin-top: 20px;
}

// INPUTS // ============================== //
textarea {
    resize: none;
}

input,
textarea {
    background: none;
    color: $muted-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $muted-color;
    &:focus {
        outline: none;
    }
    &:focus~label,
    &:valid~label {
        top: -14px;
        font-size: 12px;
        color: $primary-color3;
    }
}

input[type="password"] {
    letter-spacing: 0.3em;
}

label {
    color: $muted-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: $trans-time ease all;
}

.bar {
    position: relative;
    display: block;
    &:before {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0px;
        position: absolute;
        background: $primary-color3;
        transition: $trans-time ease all;
        left: 0%;
    }
}

// BUTTONS // ============================== //
.btn {
    background: #fff;
    color: mix(black, $muted-color, 25%);
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    &:hover {
        color: mix(black, $muted-color, 30%);
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
    }
    &.btn-link {
        background: $primary-color3;
        color: mix(white, $primary-color3, 80%);
        &:hover {
            background: darken($primary-color3, 5%);
            color: mix(white, $primary-color3, 85%);
        }
    }
    &.btn-submit {
        background: $primary-color3;
        color: mix(white, $primary-color3, 70%);
        &:hover {
            background: darken($primary-color3, 5%);
            color: mix(white, $primary-color3, 85%);
        }
    }
    &.btn-cancel {
        background: #eee;
        &:hover {
            background: darken(#eee, 5%);
            color: mix(black, $muted-color, 30%);
        }
    }
}

.btn-box {
    justify-self: center;
    &#submit {
        grid-area: submit;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1169px) {
    .cd-main-content {
        grid-template-areas: "profilePicture" "profileForm";
        .profileForm-container {
            width: 98%;
            justify-self: center;
            justify-items: center;
        }
        .profilePicture {
            justify-self: center;
            justify-items: center;
        }
    }
}

@media only screen and (min-width: 1170px) {
    .cd-main-content {
        grid-template-areas: "profileForm profilePicture";
        grid-template-columns: 2fr 1fr;
        justify-items: center;
        align-items: flex-start;
        .profileForm-container {
            width: 60%;
            padding-left: 1em;
        }
    }
}