<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RealWorld Dental - Inicio Sesion</title>
    <!--TODO: Reemplazar "Inicio Sesion" con Titulo dinámico?-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo-icon.ico">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/style.css" />
    <script src="scripts/main.js"></script>
</head>

<body>
    <div class="container">
        <div class="landing-page-image">
            <h1 id="companyName">
                <a href="index.html">RealWorld Dental</a>
            </h1>
            <div class="landing-page-logo">
            </div>
        </div>
        <div class="login-form">
            <div id="form">
                <button id="logIn">
                    Iniciar sesión
                </button>
                <button id="signUp">
                    Registrarse
                </button>
            </div>
        </div>
    </div>
</body>

</html>