<!DOCTYPE html>
<html lang="es">

<head>
	<th:block th:replace="fragments/common :: head"></th:block>
	<th:block th:replace="fragments/publiclayout :: head"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/user-aboutus.css" th:href="@{/styles/user-aboutus.css}"/>
    <script src="/scripts/user-aboutus.js" th:href="@{/scripts/user-aboutus.js}"></script>
    <title>RWD - Sobre Nosotros</title>
</head>

<body>
    <header class="cd-main-header" th:replace="fragments/publiclayout :: header">
    </header>

    <main class="cd-main-content">
        <div id="myModal" class="modal">

            <!-- The Close Button -->
            <span class="close">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
        </div>
        <!-- your content here -->
        <div id="sobreNosotros">
            <h1 class="sectionName">
                Sobre Nosotros
            </h1>
            <h3>
                Bienvenidos a
                <span th:text="${company.name}">RealWorld Dental</span>
            </h3>
            <p>
            	La empresa se fundó en 2006. Desde entonces nos convertimos en uno de los líderes en turismo médico en España. Estamos listados en la Bolsa de Madrid y somos un socio seguro y confiable. <span th:text="${company.name}">RealWorld Dental</span> es una marca registrada y esta es una gran ventaja para nuestros clientes. Nuestro registro es una prueba de que ha elegido la clínica adecuada para recibir tratamiento y dificulta que otros nos copien.<br>
            
                Nuestra misión es ofrecer atención dental profesional a un precio razonable. Un equipo de dentistas experimentados, equipos de última generación y los mejores materiales han alcanzado un nuevo nivel de servicios dentales. Utilizamos solo los mejores materiales de compañías globales de los EE. UU., Alemania, Japón o Suiza. Todo nuestro equipo habla inglés.<br>

				Estamos ubicados en el centro de Sevilla y ofrecemos una amplia gama de tratamientos dentales: implantes, ortodoncias, coronas, puentes, carillas, dentaduras, empastes, tratamiento de endodoncia...<br>

				Hacemos todos los esfuerzos para ofrecerle un tratamiento dental de alta calidad sin estrés.<br>

				Nuestro amable y competente personal siempre estará encantado de ayudarlo. Antes de que comience su cita, puede descansar en nuestra sala de espera, usar la computadora con acceso a internet o wi-fi gratuito, tomar una taza de té o café o leer algunas revistas.<br>
            </p>
        </div>
        <div id="nuestrasInstalaciones">
            <h1 class="sectionName">
                Nuestras Instalaciones
            </h1>
            <div id="officesGallery">
                <div class="display">
                    <img src="/images/officesGallery/office1.jpg" alt="Entrada del edificio" / id="myImg" th:href="@{/images/officesGallery/office1.jpg}">
                </div>
                <ul class="thumbs">
                    <li>
                        <a href="/images/officesGallery/office1.jpg" th:href="@{/images/officesGallery/office1.jpg}">
                            <img src="/images/officesGallery/office1.jpg" alt="Foto oficina 2" th:href="@{/images/officesGallery/office1.jpg}"/>
                        </a>
                    </li>

                    <li>
                        <a href="/images/officesGallery/office2.jpg" th:href="@{/images/officesGallery/office2.jpg}">
                            <img src="/images/officesGallery/office2.jpg" alt="Foto oficina 3" th:href="@{/images/officesGallery/office2.jpg}"/>
                        </a>
                    </li>

                    <li>
                        <a href="/images/officesGallery/office3.jpg">
                            <img src="/images/officesGallery/office3.jpg" alt="Foto oficina 4" th:href="@{/images/officesGallery/office3.jpg}"/>
                        </a>
                    </li>

                    <li>
                        <a href="/images/officesGallery/office4.jpg">
                            <img src="/images/officesGallery/office4.jpg" alt="Foto oficina 5" th:href="@{/images/officesGallery/office4.jpg}"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="nuestroEquipo">
            <h1 class="sectionName">
                Nuestro Equipo
            </h1>
            <div class="carousel">
                <a class="prev-btn" href="#">&lt;</a>
                <div class="card" th:each="employee : ${staff}" th:style="'background-image:url('+@{${employee.profilePic}}+');'" >
                    <div class="staffName" th:text="${employee.name}">
                        María Mora Muñoz
                    </div>
                </div>
                <a class="next-btn" href="#">&gt;</a>
            </div>
        </div>

        <div class="cd-overlay"></div>
    </main>

    <nav th:replace="fragments/publiclayout :: nav">
    </nav>
</body>

</html>