<!DOCTYPE html>
<html>

<head>
    <th:block th:replace="fragments/common :: head"></th:block>
	<th:block th:replace="fragments/publiclayout :: head"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/user-profile.css" th:href="@{/styles/user-profile.css}"/>
    <title>RWD - Perfil de Usuario</title>
</head>

<body>
    <header class="cd-main-header" th:replace="fragments/publiclayout :: header"></header>
    <main class="cd-main-content">
        <form th:replace="fragments/publiclayout :: userForm"></form>
        <div class="profilePicture">
            <img src="" alt="{loggedUser.profilePic}" th:src="@{${loggedUser.profilePic}}" class="profilePic">
            <div class="employeePosition" th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Employee)}"><span th:text="${loggedUser.position}">{employee.position}</span></div>
            <div class="grossAnualSalaryTitle" th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Employee)}">Salario Anual Bruto:</div>
            <div class="grossAnualSalaryValue" th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Employee)}"><span th:text="${loggedUser.grossAnualSalary}">{employee.grossAnualSalary}</span>€</div>
        </div>
        <div class="cd-overlay"></div>
    </main>
    <nav th:replace="fragments/publiclayout :: nav"></nav>
</body>

</html>