<header class="cd-main-header" th:fragment="header">
	<a th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Admin)}" href="/admin-dashboard" class="cd-logo"
		th:href="@{/admin-dashboard}"> <img
		src="/images/icons/projectlogo.svg" width="40px" alt="Logo"
		th:href="@{/images/icons/projectlogo.svg}">
	</a> 
	<a th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Employee)}" href="/staff" class="cd-logo"
		th:href="@{/staff}"> <img
		src="/images/icons/projectlogo.svg" width="40px" alt="Logo"
		th:href="@{/images/icons/projectlogo.svg}">
	</a>
	<a href="#0" class="cd-nav-trigger">Menu <span></span>
	</a>
	<nav class="cd-nav">
		<ul class="cd-top-nav">
			<li class="has-children account"><a href="#0" th:text="${loggedUser.name}"> <img
					src="/images/profilePics/profile-admin.jpg" alt="avatar"
					th:href="'@{'${loggedUser.profilePic}'}'"> Admin
			</a>
				<ul>
					<li th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Employee)}"><a href="/public/user-profile"
						th:href="@{/staff/profile}">Perfil</a></li>
					<li><a href="/public/user-index.html"
						th:href="@{/user-index}">Ir a página web</a></li>
					<li><a href="/index.html" th:href="@{/logOut}">Cerrar
							Sesión</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</header>

<a href="#" class="nav-toggle" th:fragment="sideBarToggle"></a>

<ul th:fragment="sideBarUserOptions">
	<li class="cd-label">Secundarios</li>
	<li class="has-children bookmarks" th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Employee)}"><a
		href="/public/user-profile.html" th:href="@{/staff/profile}">Perfil</a></li>
	<li class="has-children images"><a
		href="/public/user-index.html" th:href="@{/user-index}">Ir a página web</a></li>
	<li class="has-children users"><a href="/index.html" th:href="@{/logOut}">Cerrar
			Sesión</a>
	</li>
</ul>

<main class="cd-main-content" th:fragment="main" th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Employee)}">
    <nav th:replace="fragments/stafflayout :: sideBar"></nav>
	<a th:replace="fragments/dashboardlayout :: sideBarToggle"></a>
    <div class="content-wrapper">
        <div class="dashboard-main">
            <a href="/staff/staff-schedule.html" th:href="@{/staff-schedule}">
                <div class="dashboard-card">
                    <span class="icon-schedule icon" role="img"></span>
                    <hr class="divider"> Horario Personal
                </div>
            </a>
            <a href="/staff/staff-clients-list.html" th:href="@{/staff-clients-list}">
                <div class="dashboard-card">
                    <span class="icon-clients icon" role="img"></span>
                    <hr class="divider"> Clientes
                </div>
            </a>
            <a href="/public/user-profile.html" th:href="@{/staff/profile}">
                <div class="dashboard-card">
                    <span class="icon-profile icon" role="img"></span>
                    <hr class="divider"> Ficha Personal
                </div>
            </a>
            <a href="/admin/admin-calendar.html" th:href="@{/admin-calendar}">
                <div class="dashboard-card">
                    <span class="icon-calendar icon" role="img"></span>
                    <hr class="divider"> Calendario
                </div>
            </a>
        </div>
    </div>
</main>
<main class="cd-main-content" th:fragment="main" th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Admin)}">
	<nav th:replace="fragments/adminlayout :: sideBar"></nav>
	<a th:replace="fragments/dashboardlayout :: sideBarToggle"></a>
    <div class="content-wrapper">
        <div class="dashboard-main">
            <a href="/admin-services-list.html" th:href="@{/admin-services-list}">
                <div class="dashboard-card">
                    <span class="icon-services icon" role="img"></span>
                    <hr class="divider"> Servicios
                </div>
            </a>
            <a href="../staff/staff-clients-list.html" th:href="@{/staff-clients-list}">
                <div class="dashboard-card">
                    <span class="icon-clients icon" role="img"></span>
                    <hr class="divider"> Clientes
                </div>
            </a>
            <a href="/admin/admin-staff-list.html" th:href="@{/admin-staff-list}">
                <div class="dashboard-card">
                    <span class="icon-staff icon" role="img"></span>
                    <hr class="divider"> Empleados
                </div>
            </a>
            <a href="admin-calendar.html" th:href="@{/admin-calendar}">
                <div class="dashboard-card">
                    <span class="icon-calendar icon" role="img"></span>
                    <hr class="divider"> Calendario
                </div>
            </a>
        </div>
    </div>
</main>