<head th:fragment="head" th:remove="tag">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/user-nav.css" th:href="@{/styles/user-nav.css}"/>
    <script src="/scripts/user-nav.js" th:src="@{/scripts/user-nav.js}"></script>
</head>

<header class="cd-main-header" th:fragment="header" id="indexHeader">
        <a class="cd-logo" href="/public/user-index.html" th:href="@{/public}">
            <img src="/images/icons/projectlogo.svg" alt="Logo" width="35px" th:src="@{/images/icons/projectlogo.svg}">
        </a>

        <ul class="cd-header-buttons">
            <li>
                <a class="cd-nav-trigger" href="#cd-primary-nav">
                    <span></span>
                </a>
            </li>
        </ul>
        <!-- cd-header-buttons -->
</header>

<nav class="cd-nav" th:fragment="nav" id="indexNav">
        <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
            <li>
                <a href="/public/user-index.html" th:href="@{/public}">
                    <span class="nav_bg_clr" th:classappend="${#httpServletRequest.getRequestURI() == '/public' ? 'current':''}"></span>
                    <span>Inicio</span>
                </a>
            </li>

            <li class="has-children">
                <a href="/public/user-services.html" th:href="@{/public/services}">
                    <span class="nav_bg_clr" th:classappend="${#httpServletRequest.getRequestURI() == '/public/services' ? 'current':''}"></span>
                    <span>Servicios</span>
                </a>
                <ul class="cd-nav-icons is-hidden">
                    <li class="go-back">
                        <a href="#0">Menu</a>
                    </li>
                    <li class="see-all">
                        <a href="user-services.html" th:href="@{/public/services}">Ver Servicios</a>
                    </li>
                    <li th:each="treatment : ${allTreatments}">
                        <a class="cd-nav-item item-1" href="/public/user-service.html" th:href="@{'/public/user-service/' + ${treatment.id}}">
                            <h3 th:text="${treatment.name}">Tratamiento</h3>
                        </a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="/public/user-aboutus.html" th:href="@{/public/aboutus}">
                    <span class="nav_bg_clr" th:classappend="${#httpServletRequest.getRequestURI() == '/public/aboutus' ? 'current':''}"></span>
                    <span>Sobre Nosotros</span>
                </a>
            </li>

            <li>
                <a href="/public/user-contactus.html" th:href="@{/public/contactus}">
                    <span class="nav_bg_clr" th:classappend="${#httpServletRequest.getRequestURI() == '/public/contactus' ? 'current':''}"></span>
                    <span>Contacto</span>
                </a>
            </li>

            <li class="has-children account">
            	<a href="#0">
            		<span class="nav_bg_clr" th:classappend="${#httpServletRequest.getRequestURI() == '/public/profile' ? 'current':''}"></span>
            		<span th:text="${loggedUser.name}">{loggedUser.name}</span>
            		<img src="/images/profilePics/profile-admin.jpg" alt="{loggedUser.profilePic}" th:src="@{${loggedUser.profilePic}}" width="16px">
				</a>
				<ul class="cd-nav-icons is-hidden">
					<li th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Client)}"><a class="cd-nav-item" href="/public/user-profile"
						th:href="@{/public/profile}"><h3>Perfil</h3></a></li>
						<li th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Employee)}"><a class="cd-nav-item" href="/public/user-profile"
						th:href="@{/staff/profile}"><h3>Perfil</h3></a></li>
					<li><a class="cd-nav-item" href="/public/user-index.html"
						th:href="@{/user-index}"><h3>Ir a página web</h3></a></li>
					<li th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Admin)}"><a class="cd-nav-item" href="/admin"
						th:href="@{/admin}"><h3>Panel de Administración</h3></a></li>
					<li th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Employee)}"><a class="cd-nav-item" href="/staff"
					th:href="@{/staff}"><h3>Panel de Empleado</h3></a></li>
					<li><a class="cd-nav-item" href="/index.html" th:href="@{/logOut}"><h3>Cerrar
							Sesión</h3></a></li>
				</ul>
			</li>
        </ul>
        <!-- primary-nav -->
</nav>

<form class="profileForm-container" name="profileForm" method="post" th:action="@{/editUser}" th:object="${editableClient}" th:fragment="userForm" th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Client)}">
            <div class="group" id="dniInput" style="display: none;">
                <input type="hidden" required="required" name="id" th:field="*{id}" th:value="*{id}" readonly="readonly"/>
                <input type="hidden" required="required" name="id" th:field="*{profilePic}" th:value="*{profilePic}" readonly="readonly"/>
                <input type="hidden" required="required" name="name" th:field="*{registerDate}" th:value="*{registerDate}" readonly="readonly"/>
                <input type="hidden" required="required" name="name" th:field="*{historical}" th:value="*{historical}" readonly="readonly"/>
		    </div>
            <div class="inputTitle">
                DNI
            </div>
            <div class="group" id="dniInput">
                <input type="text" readonly="readonly" th:value="${loggedUser.dni}" th:field="${editableClient.dni}"/>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="inputTitle">
                Nombre
            </div>
            <div class="group" id="nameInput">
                <input type="text" readonly="readonly" th:value="${loggedUser.name}" th:field="${editableClient.name}"/>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="inputTitle">
                Teléfono
            </div>
            <div class="group" id="phoneInput">
                <input type="text" th:value="${loggedUser.phone}" th:field="${editableClient.phone}"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label th:text="${loggedUser.phone}">{user.phone}</label>
            </div>
            <div class="inputTitle">
                Email
            </div>
            <div class="group" id="dniInput">
                <input type="text" th:value="${loggedUser.email}" th:field="${editableClient.email}"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label th:text="${loggedUser.email}">{user.email}</label>
            </div>
            <div class="inputTitle">
                Password
            </div>
            <div class="group" id="dniInput">
                <input type="password" th:value="${loggedUser.password}" th:field="${editableClient.password}"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
            </div>
            <div class="btn-box" id="submit">
                <button class="btn btn-submit" type="submit">Guardar Cambios</button>
            </div>
            <div class="btn btn-submit" id="appointmentsButton"><a th:href="@{/myAppointments}">Ver Citas</a></div>
</form>

<form class="profileForm-container" name="profileForm" method="post" th:action="@{/editStaff}" th:object="${editableEmployee}" th:fragment="userForm" th:if="${loggedUser instanceof T(com.salesianostriana.mario.model.Employee)}">
			<div class="group" id="dniInput" style="display: none;">
	            <input type="hidden" required="required" name="id" th:field="*{id}" th:value="*{id}" readonly="readonly"/>
				<input type="hidden" required="required" name="id" th:field="*{profilePic}" th:value="*{profilePic}" readonly="readonly"/>
	            <input type="hidden" required="required" name="hireDate" th:field="*{hireDate}" th:value="*{hireDate}" readonly="readonly"/>
	            <input type="hidden" required="required" name="name" th:field="*{historical}" th:value="*{historical}" readonly="readonly"/>
	            <input type="hidden" required="required" name="name" th:field="*{position}" th:value="*{position}" readonly="readonly"/>
	            <input type="hidden" required="required" name="name" th:field="*{grossAnualSalary}" th:value="*{grossAnualSalary}" readonly="readonly"/>
		    </div>
            <div class="inputTitle">
                DNI
            </div>
            <div class="group" id="dniInput">
                <input type="text" readonly="readonly" th:value="${loggedUser.dni}" th:field="${editableEmployee.dni}"/>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="inputTitle">
                Nombre
            </div>
            <div class="group" id="nameInput">
                <input type="text" readonly="readonly" th:value="${loggedUser.name}" th:field="${editableEmployee.name}"/>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="inputTitle">
                Teléfono
            </div>
            <div class="group" id="phoneInput">
                <input type="text" th:value="${loggedUser.phone}" th:field="${editableEmployee.phone}"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label th:text="${loggedUser.phone}">{user.phone}</label>
            </div>
            <div class="inputTitle">
                Email
            </div>
            <div class="group" id="dniInput">
                <input type="text" th:value="${loggedUser.email}" th:field="${editableEmployee.email}"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label th:text="${loggedUser.email}">{user.email}</label>
            </div>
            <div class="inputTitle">
                Password
            </div>
            <div class="group" id="dniInput">
                <input type="password" th:value="${loggedUser.password}" th:field="${editableEmployee.password}"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
            </div>
            <div class="btn-box" id="submit">
                <button class="btn btn-submit" type="submit">Guardar Cambios</button>
            </div>
</form>