<nav class="cd-side-nav nav-side" th:fragment="sideBar">
	<ul>
	    <li class="cd-label">Principales</li>
	    <li class="has-children overview">
	        <a href="/staff/staff-schedule.html" th:href="@{/staff-schedule}">Horario Personal</a>
	    </li>
	    <li class="has-children comments">
	        <a href="/staff/staff-clients-list.html" th:href="@{/staff-clients-list}">Clientes</a>
	    </li>
	    <li class="has-children comments">
	        <a href="/public/user-profile.html" th:href="@{/public/profile}">Ficha Personal</a>
	    </li>
	    <li class="has-children comments">
	        <a href="/admin/admin-calendar.html" th:href="@{/admin-calendar}">Calendario</a>
	    </li>
	</ul>
	<ul th:replace="fragments/dashboardlayout :: sideBarUserOptions"></ul>
</nav>