<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<!-- CSS y JS-->
	<link rel="stylesheet" type="text/css" href="/css/form_reg.css">
	<!-- Favicon-->
	<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon" />
</head>
<body>
	<div id="container">
		<div class="row">
			<div class="col-md-10 colums">
				<div id="login">
					<div class="subimg">
						<img src="img/logo.png">
					</div>
					<h3 class="subbar">Registro</h3>
					<form class="login-form" method="POST" th:action="addEmpresa" th:object="${formularioRegistro}">
						<h5>Datos Personales</h5>
						<div class="form-group">
							<label for="exampleInputEmail1" class="text-uppercase">Nombre Empresa*</label>
							<input type="text" class="form-control" placeholder="" th:field="*{nombre}">

						</div>
						<div class="form-group">
							<label for="exampleInputPassword1" class="text-uppercase">CIF *</label>
							<input type="text" class="form-control" placeholder="" th:field="*{cif}">
						</div>

						<div class="form-group">
							<label for="exampleInputPassword1" class="text-uppercase">Direccion *</label>
							<input type="text" class="form-control" placeholder="" th:field="*{direccion}">
						</div>

						<div class="form-group">
							<label for="exampleInputPassword1" class="text-uppercase">Telefono *</label>
							<input type="text" class="form-control" placeholder="" th:field="*{telefono}">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1" class="text-uppercase">Email *</label>
							<input type="text" class="form-control" placeholder="" th:field="*{email}">
						</div>

						<hr>
						<h5>Datos de Sesión</h5>
						<div class="form-group">
							<label for="exampleInputPassword1" class="text-uppercase">Usuario *</label>
							<input type="text" class="form-control" placeholder="" th:field="*{username}">
						</div>

						<div class="form-group">
							<label for="exampleInputPassword1" class="text-uppercase">Contraseña *</label>
							<input type="password" class="form-control" placeholder="" th:field="*{pass}">
						</div>

						<p>*Campos obligatorios</p>
						<div class="form-check">
							
							<a href="../Login/login.html" class="registro">Volver a Iniciar Sesión</a>
							<div class="boton">
								<button type="submit" class="btn btn-primary">Registrate</button>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>