<!DOCTYPE html>
<html>

<head>
	<th:block th:replace="fragments/common :: head"></th:block>
    <th:block th:replace="fragments/adminlayout :: head (pageTitle='RWD - Dashboard - Añadir Cita')"></th:block>
</head>

<body>
    <header th:replace="fragments/dashboardlayout :: header"></header>
    <main class="cd-main-content">
        <nav th:replace="fragments/adminlayout :: sideBar"></nav>
		<a th:replace="fragments/dashboardlayout :: sideBarToggle"></a>
        <div class="content-wrapper" id="addForm-wrapper">
        	<h1 class="pageTitle" id="addAppointmentTitle">Añadir Nueva Cita</h1>
        	<div class="add-form-container">
        		<form method="post" th:action="@{/addNewAppointment}" th:object="${newAppointment}" id="addServiceForm">
        			<div class="inputTitle">
		                Nombre del Servicio
		            </div>
		            <div class="group" id="dniInput">
		                <select>
		                	<option required="required" th:each="treatment : ${treatments}" th:text="${treatment.name}" name="treatment" th:value="${newAppointment.treatment}">{treatment.name}</option>
		                </select>
		            </div>
		            <div class="inputTitle">
		                Nombre del Cliente
		            </div>
		            <div class="group" id="nameInput">
		            	<select>
		                	<option required="required" th:each="client : ${clients}" th:text="${client.name}" name="client" th:value="${newAppointment.client}">{client.name}</option>
		                </select>
		            </div>
		            <div class="inputTitle">
		                Nombre del Empleado
		            </div>
		            <div class="group" id="phoneInput">
		                <select>
		                	<option required="required" th:each="employee : ${employees}" th:text="${employee.name}" name="employee" th:value="${newAppointment.employee}">{employee.name}</option>
		                </select>
		            </div>
		            <div class="inputTitle">
		                Pagado
		            </div>
		            <div class="group" id="dniInput">
		                <input type="checkbox" th:type="checkbox" name="paid" th:field="${newAppointment.paid}" th:value="${newAppointment.paid}"th:checked="${newAppointment.paid}" />
		                <input type="hidden" value="on" name="_paid"/>
		            </div>
		            <div class="group" id="dniInput">
		            	<div id="date">
	                    	<h2>Selecciona fecha (MM/DD/YYYY):</h2>
	                	</div>
		                <div id="calendar">
		                    <input type="date" name="startDate" th:field="${appointmentFormBean.startDate}" th:value="${appointmentFormBean.startDate}" id="datePicker"  required>
		                </div>
		                <div id="time">
		                    <h2>Selecciona hora (HH:MM AM/PM):</h2>
		                </div>
		                <div id="timePicker">
		                    <input type="time" name="startTime" id="timeInput" th:field="${appointmentFormBean.startTime}" th:value="${appointmentFormBean.startTime}" required>
		                </div>                
		            </div>
        			<div class="btn-box" id="submit">
                		<button class="btn btn-submit" type="submit">Guardar Cambios</button>
            		</div>
            		<div class="btn-box" id="submit">
                		<button class="btn btn-submit" type="reset">Reestablecer Valores</button>
            		</div>
        		</form>
        	</div>
        </div>
    </main>
</body>

</html>