$primary-color1: #3c393d;
$primary-color2: #989690;
$primary-color3: #2cbfd3;
$primary-color4: #f5f9f8;
$primary-color5: #c3975f;
$invalid: #E91E63;
@font-face {
    font-family: Bodoni;
    src: url('../fonts/BodoniFLF-Roman.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/*Search Button Styling*/

$transition: all .5s ease;
* {
    box-sizing: border-box;
}

.cd-main-content {
    margin-bottom: 4em;
    min-height: 77vh;
    margin: 3em 0;
    .table-container {
        display: grid;
        grid-template-areas: "tableHeader" "tableBody";
        grid-gap: 5em;
        .table-header {
            background-color: $primary-color3;
            grid-area: tableHeader;
            display: grid;
            grid-template-areas: "title totalItems search";
            .table-title {
                grid-area: title;
            }
            .table-totalItems {
                grid-area: totalItems;
            }
            .search {
                grid-area: search;
            }
        }
        .table {
            grid-area: tableBody;
        }
    }
}

.search {
    width: 50px;
    height: 50px;
    background-color: $primary-color1;
    position: relative;
    overflow: hidden;
    transition: $transition;
    &:before {
        content: '';
        display: block;
        width: 3px;
        height: 100%;
        position: relative;
        background-color: $primary-color3;
        transition: $transition;
    }
    &.open {
        width: 250px;
        &:before {
            height: 25px;
            margin: 15px 0 20px 30px;
            position: absolute;
        }
    }
}

.search-box {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    background: transparent;
    color: $primary-color4;
    padding: 20px 100px 20px 45px;
    &:focus {
        outline: none;
    }
}

.search-button {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 25px;
    top: -19px;
    padding: 20px;
    cursor: pointer;
}

.search-icon {
    width: 30px;
    height: 30px;
    border-radius: 40px;
    border: 3px solid $primary-color3;
    display: block;
    position: relative;
    transition: $transition;
    &:before {
        content: '';
        width: 3px;
        height: 15px;
        position: absolute;
        right: -2px;
        top: 22px;
        display: block;
        background-color: $primary-color3;
        transform: rotate(-45deg);
        transition: $transition;
    }
    &:after {
        content: '';
        width: 3px;
        height: 15px;
        position: absolute;
        right: -12px;
        top: 32px;
        display: block;
        background-color: $primary-color3;
        transform: rotate(-45deg);
        transition: $transition;
    }
    .open & {
        margin: 0;
        width: 50px;
        height: 50px;
        border-radius: 60px;
        &:before {
            transform: rotate(52deg);
            right: 15px;
            top: 20px;
            height: 18px;
        }
        &:after {
            transform: rotate(-230deg);
            right: 15px;
            top: 10px;
            height: 18px;
        }
    }
}

/*Table Styling*/

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: $primary-color5;
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid $primary-color5;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: $primary-color1;
    border-bottom: solid 1px $primary-color5;
}

/* demo styles */

section {
    margin: 50px;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1169px) {
    .cd-main-content {
        margin-left: 2em;
        margin-right: 2em;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-main-content {
        margin-left: 5em;
        margin-right: 5em;
    }
}