$primary-color1: #3c393d;
$primary-color2: #989690;
$primary-color3: #2cbfd3;
$primary-color4: #f5f9f8;
$primary-color5: #c3975f;
$invalid: #E91E63;
@font-face {
    font-family: Bodoni;
    src: url('../fonts/BodoniFLF-Roman.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.cd-main-content {
    display: grid;
    grid-template-areas: "title" "services";
    grid-template-rows: 0.5fr 2fr;
    margin-bottom: 4em;
    min-height: 77vh;
    grid-gap: 2em;
    margin: 3em 0;
    .sectionName {
        border-bottom: 4px solid $primary-color3;
        width: 60%;
    }
}

.services-container {
    background-color: $primary-color2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    .service {
        background-color: $primary-color1;
        display: grid;
        grid-template-areas: "title" "description";
        grid-template-rows: 2fr 1fr;
    }
}

@media only screen and (max-width: 1169px) {
    .cd-main-content {
        margin-left: 2em;
        margin-right: 2em;
        .sectionName {
            width: 100%;
            text-align: center;
        }
    }
}

@media only screen and (min-width: 1170px) {
    .cd-main-content {
        margin-left: 5em;
        margin-right: 5em;
    }
}