@font-face {
  font-family: Bodoni;
  src: url("../fonts/BodoniFLF-Roman.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }
/*Search Button Styling*/
* {
  box-sizing: border-box; }

.cd-main-content {
  margin-bottom: 4em;
  min-height: 77vh;
  margin: 3em 0; }
  .cd-main-content .table-container {
    display: grid;
    grid-template-areas: "tableHeader" "tableBody";
    grid-gap: 2em; }
    .cd-main-content .table-container .table-header {
      background-color: #2cbfd3;
      grid-area: tableHeader;
      display: grid;
      grid-template-areas: "title totalItems search";
      grid-template-columns: 0.5fr 0.5fr 2fr;
      align-items: center; }
      .cd-main-content .table-container .table-header .table-title {
        grid-area: title; }
      .cd-main-content .table-container .table-header .table-totalItems {
        grid-area: totalItems; }
      .cd-main-content .table-container .table-header .search {
        grid-area: search;
        float: right;
        justify-self: flex-end; }
    .cd-main-content .table-container .table {
      grid-area: tableBody; }

.search {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease; }
  .search:before {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    position: relative;
    background-color: #2cbfd3;
    transition: all 0.5s ease; }
  .search.open {
    width: 250px;
    background-color: #3c393d; }
    .search.open:before {
      height: 25px;
      margin: 15px 0 20px 30px;
      position: absolute; }

.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #f5f9f8;
  padding: 20px 100px 20px 45px; }
  .search-box:focus {
    outline: none; }

.search-button {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: 25px;
  top: -17px;
  padding: 20px;
  cursor: pointer; }

.search-icon {
  width: 30px;
  height: 30px;
  border-radius: 40px;
  border: 3px solid #f5f9f8;
  display: block;
  position: relative;
  transition: all 0.5s ease; }
  .search-icon:before {
    content: '';
    width: 3px;
    height: 15px;
    position: absolute;
    right: -2px;
    top: 22px;
    display: block;
    background-color: #f5f9f8;
    transform: rotate(-45deg);
    transition: all 0.5s ease; }
  .search-icon:after {
    content: '';
    width: 3px;
    height: 15px;
    position: absolute;
    right: -12px;
    top: 32px;
    display: block;
    background-color: #f5f9f8;
    transform: rotate(-45deg);
    transition: all 0.5s ease; }
    .search-icon:after:hover {
      background-color: #989690; }
  .open .search-icon {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 60px; }
    .open .search-icon:before {
      transform: rotate(52deg);
      right: 14px;
      top: 15px;
      height: 18px; }
    .open .search-icon:after {
      transform: rotate(-230deg);
      right: 14px;
      top: 5px;
      height: 18px; }

/*Table Styling*/
table {
  width: 100%;
  table-layout: fixed; }

.tbl-content > table:nth-child(1) {
  height: 6vh; }

.tbl-header {
  background-color: #c3975f; }

.tbl-content {
  min-height: 300px;
  overflow-x: auto;
  border: 1px solid #c3975f; }

th {
  color: #f5f9f8;
  text-transform: uppercase; }

td {
  text-align: center;
  min-height: 100px;
  font-weight: 300;
  font-size: 12px;
  color: #3c393d;
  border-bottom: solid 1px #c3975f; }
  td#payStatus {
    background-color: yellow; }

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

@media only screen and (max-width: 1169px) {
  .cd-main-content {
    margin-left: 2em;
    margin-right: 2em; } }
@media only screen and (min-width: 1170px) {
  .cd-main-content {
    margin-left: 5em;
    margin-right: 5em; } }

/*# sourceMappingURL=user-appointments.css.map */
