$primary-color1: #3c393d;
$primary-color2: #989690;
$primary-color3: #2cbfd3;
$primary-color4: #f5f9f8;
$primary-color5: #c3975f;
$invalid: #E91E63;
@font-face {
    font-family: Bodoni;
    src: url('../fonts/BodoniFLF-Roman.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.cd-main-content {
    display: grid;
    grid-template-areas: "title" "services";
    grid-template-rows: 0fr 2fr;
    margin-bottom: 4em;
    min-height: 77vh;
    grid-gap: 2em;
    margin: 3em 0;
    .sectionName {
        border-bottom: 4px solid $primary-color3;
        width: 60%;
    }
}

.services-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    .service {
        background-color: $primary-color1;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        max-width: 100%;
        min-height: 300px;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
        overflow: hidden;
        &:hover .info,
        &:hover:hover .info:before {
            transform: translateY(0) translateZ(0);
        }
        .info {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: $primary-color4;
            transform: translateY(100%) translateY(-55px) translateZ(0);
            transition: transform 0.5s ease-out;
        }
        .info:before {
            z-index: -1;
            display: block;
            position: absolute;
            content: ' ';
            width: 100%;
            height: 100%;
            overflow: hidden;
            filter: blur(5px);
            background-size: cover;
            opacity: 0.25;
            transform: translateY(-100%) translateY(338px) translateZ(0);
            transition: transform 0.5s ease-out;
        }
        .title {
            background-color: $primary-color5;
            color: $primary-color4;
            display: flex;
            justify-content: center;
            align-content: center;
            align-self: center;
        }
        .description {
            color: $primary-color1;
            margin: 0;
            padding: 0 24px 24px;
            font-size: 18px;
            line-height: 1.5;
            .seeMore {
                display: block;
                margin: 0 auto;
                background-image: url('../images/icons/plussign.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 64px;
                height: 64px;
            }
        }
        .service-overlay {
            // max-height: 0;
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            width: 100px;
            height: 100px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            background-color: yellow;
            &.hovered {
                max-height: 100%;
                opacity: 1;
            }
        }
    }
    #blanqueamiento {
        background-image: url('../images/services/teethwhitening.jpg');
        .info:before {
            background-image: url('../images/services/teethwhitening.jpg');
        }
    }
    #carillas {
        background-image: url('../images/services/carillas.png');
        .info:before {
            background-image: url('../images/services/carillas.png');
        }
    }
    #coronasYPuentes {
        background-image: url('../images/services/corona.jpg');
        .info:before {
            background-image: url('../images/services/corona.jpg');
        }
    }
    #endodoncia {
        background-image: url('../images/services/endodoncia.jpg');
        .info:before {
            background-image: url('../images/services/endodoncia.jpg');
        }
    }
    #empastes {
        background-image: url('../images/services/empaste.png');
        .info:before {
            background-image: url('../images/services/empaste.png');
        }
    }
    #implante {
        background-image: url('../images/services/implante.png');
        .info:before {
            background-image: url('../images/services/implante.png');
        }
    }
    #odontopediatria {
        background-image: url('../images/services/odontopediatria.png');
        .info:before {
            background-image: url('../images/services/odontopediatria.jpg');
        }
    }
    #ortodoncia {
        background-image: url('../images/services/ortodoncia.jpg');
        .info:before {
            background-image: url('../images/services/ortodoncia.jpg');
        }
    }
    #periodontitis {
        background-image: url('../images/services/periodontitis.jpg');
        .info:before {
            background-image: url('../images/services/periodontitis.jpg');
        }
    }
}

@media only screen and (max-width: 1169px) {
    .services-container {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        .cd-main-content {
            margin-left: 2em;
            margin-right: 2em;
            .sectionName {
                width: 100%;
                text-align: center;
            }
        }
    }
}

@media only screen and (min-width: 1170px) {
    .cd-main-content {
        margin-left: 5em;
        margin-right: 5em;
    }
}